{% extends "layouts/default.html" %}
{% set title= "Smeltzer Family Web Site" %}

{% block content %}
<h1>Things to do here....</h1>
<p>Want to try deployment solutions.
Will be interesting to see how some of this works.
Not sure where to begin.  Should I try a gulp deploy
using rsync or should I try using ShipIt?</p>
<p>Shipit was attempted, but there were lots of problems.
    They seemed to stem from trying to deploy from a Windows
    system. The issues all seemed to revolve around
    directory paths. I also tried doing some of this more 
    manually, but so far have failed to create a symbolic
    link on the remote system.
</p>
<p>Currently I am using an rsync deploy. One thing with this deploy
    is I cannot use the archive flag for rsync as it messes up file
    permissions.</p>
<p>The process is getting better.
</p>
<ul>
    <li><a href="/tests/buttons.html">Button design test</a></li>
    <li><a href="/tests/quiz.html">Quiz test</a></li>
    <li><a href="/tests/quiz2.html">Quiz test 2</a></li>
    <li><a href="/tests/sequence.html">Sequence page</a></li>
    <li><a href="/bubble/index.html">Bubble Game</a></li>
    <li><a href="/quiz/cared-quiz.html">Car-ED quiz test</a></li>
    <li><a href="/tests/circle.html">Canvas test</a></li>
</ul>
{% endblock %}